<!-- app/views/user_addresses/confirmation.html.erb -->

<h1>Confirmation Page</h1>

<p>Shipping Address:</p>
<p>Name: <%= params[:user_address][:name] %></p>
<p>Address Line 1: <%= params[:user_address][:address_line_1] %></p>
<p>Address Line 2: <%= params[:user_address][:address_line_2] %></p>
<p>City: <%= params[:user_address][:city] %></p>
<p>Province: <%= params[:user_address][:province] %></p>
<p>Postal Code: <%= params[:user_address][:postal_code] %></p>

<!-- Display other confirmation details here -->
