<!-- Display user address details on the confirmation page -->
<h2>Shipping Address:</h2>
<p>
  Name: <%= @user_address.name %><br>
  Address Line 1: <%= @user_address.address_line_1 %><br>
  Address Line 2: <%= @user_address.address_line_2 %><br>
  City: <%= @user_address.city %><br>
  Province: <%= @user_address.province %><br>
  Postal Code: <%= @user_address.postal_code %><br>
</p>
