<h1>Contact Details</h1>

<p><strong>Title:</strong> <%= @contact.title %></p>
<p><strong>Email:</strong> <%= @contact.email %></p>
<p><strong>Website:</strong> <%= @contact.website %></p>
<p><strong>Address:</strong> <%= @contact.address %></p>
<p><strong>Telephone Number:</strong> <%= @contact.telephone_number %></p>


