<!-- app/views/categories/show.html.erb -->
<h1><%= @category.name %> Products</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Category</th>
      <th>Image</th>
      <th>Name</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= @category.name %></td>
        <td>
          <% if product.image.present? %>
            <%= image_tag product.image.url, class: "img-thumbnail" %>
          <% else %>
            <p>Image Not Available</p>
          <% end %>
        </td>
        <td><%= link_to product.name, product_path(product) %></td>
        <td><%= number_to_currency(product.price) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @products %>

<%= link_to "Back to Categories", categories_path %>
